:root {
    --primary-color: #2979ff;
    /* Blue */
    --hover-color: rgba(41, 121, 255, 0.2);
    /* Light Blue Hover */
    --icon-color: #90caf9;
    /* Light Blue */
    --active-icon-color: #ffffff;
    /* White */
    --background-color: #253147;
    /* Dark Blue */
    --text-color: #ffffff;
    /* White */
    --submenu-color: #112240;
    /* Darker Blue */
    --submenu-text-color: #8892b0;
    /* Light Blue */
    --font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    --hover-bg-color: rgba(255, 255, 255, 0.1);
    /* Light Hover Background */
}


.drawer-content {
    background-color: var(--background-color);
    color: var(--text-color);
    overflow-x: hidden;
}

.MuiListItem-root {
    padding: 0 16px;
    transition: background-color 0.3s, color 0.3s;
}

.MuiListItemText-root {
    margin-left: -8px;
    color: var(--text-color);
}

.MuiListItem-root:hover {
    background-color: var(--hover-bg-color);
    color: var(--active-icon-color);
}

.active-menu-item {
    background-color: var(--primary-color);
    color: var(--active-icon-color);
}

.active-submenu-item {
    background-color: var(--submenu-color);
    color: var(--submenu-text-color);
}

.MuiListItemIcon-root,
.list-item-icon {
    color: var(--icon-color);
    min-width: 36px;
    transition: color 0.3s;
}

.MuiListItem-root:hover .MuiListItemIcon-root,
.active-submenu-item .MuiListItemIcon-root,
.active-menu-item .MuiListItemIcon-root {
    color: var(--active-icon-color);
}

.MuiDrawer-paper {
    padding-top: 10px;
    background-color: var(--background-color);
}

::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-track {
    background: var(--background-color);
}

::-webkit-scrollbar-thumb {
    background: var(--primary-color);
}

::-webkit-scrollbar-thumb:hover {
    background: #145da0;
}

.MuiTextField-root {
    margin: 1em;
    background: #ffffff;
    border-radius: 4px;
}

.NavLink {
    text-decoration: none;
    color: inherit;
    display: block;
}

.MuiAppBar-colorPrimary {
    background-color: var(--primary-color);
    color: var(--text-color);
}

.MuiToolbar-regular {
    padding: 0 16px;
}

.NavLink-submenu {
    text-decoration: none;
    color: inherit;
    display: block;
    background-color: var(--submenu-color);
}

.button-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
}

.icon {
    color: var(--icon-color);
    transition: color 0.3s;
}

.icon:hover {
    color: var(--active-icon-color);
}