/* Define a color scheme */
:root {
    --background-color: #f7f9fc;
    /* A serene light blue-gray that suggests a clean, open space */
    --Header-color: #102a43;
    /* A deep blue that appears both professional and anchored */
    --HeaderText-color: #ffffff;
    /* Bright white to ensure legibility against the dark header */
    --mainMenuText-color: #334e68;
    /* A dark slate blue that's softer than black for text readability */
    --mainMenuBackGround-color: #ffffff;
    /* Crisp white for a clean, uncluttered main menu background */
    --mainMenuBackGroundHover-color: #d1e1f0;
    /* A gentle cornflower blue providing a soothing hover effect */
    --subMenuBackGround-color: #e1e5ee;
    /* A pale pastel blue that differentiates submenus without high contrast */
    --subMenuText-color: #486581;
    /* A muted blue for submenu text, ensuring a hierarchical contrast */
    --mainMenuBackGroundHoverBoxShadow-color: rgba(0, 63, 145, 0.15);
    /* A subtle blue shadow for depth on hover */
    --subMenuBackGroundHover-color: #cadbee;
    /* A slightly brighter blue for submenu items on hover */
    --activeMenuBackGround-color: #0056b3;
    /* A confident medium blue for active menu item background */
    --activeMenuText-color: #ffffff;
    /* White text for active items to maintain contrast */
}


.collapse {
    transition: height 1.35s ease;
}

/* SideBar.css */

/* General Reset */
.nav-link {
    color: var(--mainMenuText-color);
}

.nav-link:hover {
    color: var(--Header-color);
}

/* Sidebar Styles */
.bg-body-tertiary {
    background-color: var(--background-color);
}

/* Navbar Brand */
.navbar-brand {
    color: var(--Header-color);
    font-weight: bold;
}

/* Offcanvas Styles */
.offcanvas-header {
    background-color: var(--Header-color);
    color: var(--HeaderText-color);
}

.offcanvas-title {
    font-weight: bold;
}

.offcanvas-body {
    background-color: var(--background-color);
    padding-top: 20px;
}

/* Search Bar Styles */
.form-control {
    border-radius: 5px;
    border: 1px solid var(--primary-color);
}

/* Menu Item Styles */
.nav-item {
    background-color: var(--mainMenuBackGround-color);
    margin-bottom: 5px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.nav-item:hover {
    box-shadow: 0 4px 8px var(--mainMenuBackGroundHoverBoxShadow-color);
    background-color: var(--mainMenuBackGroundHover-color);
}

.fa-icon {
    width: 20px;
    text-align: center;
    color: #0056b3;
}

/* Submenu Styles */
.collapse {
    background-color: var(--subMenuBackGround-color);
}

.pl-4 {
    padding-left: 1.5rem;
}

.sidebar-link {
    display: flex;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    color: var(--mainMenuText-color);
}

.sidebar-icon {
    margin-right: 10px;
    /* Adjust as needed */
    min-width: 20px;
    /* Adjust to your icon size to ensure alignment */
}

.sidebar-text {
    flex: 1;
    /* This makes sure the text takes up the rest of the space */
}

.sidebar-container {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.sidebar-container::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, and Opera */
}

/* Custom close button styles using the default button */
.offcanvas-header .btn-close {
    color: #0056b3;
    /* Change color to a dark blue */
}

/* Styling for the close button on hover */
.offcanvas-header .btn-close:hover {
    color: #003d66;
    /* A darker shade of blue on hover */
}

/* Additional styling for focus outline to maintain accessibility */
.offcanvas-header .btn-close:focus {
    box-shadow: 0 0 0 .25rem rgba(0, 86, 179, 0.25);
    /* Blue glow for focus */
    outline: none;
    /* Remove default focus outline */
}

/* If you want to add a background or border to the button */
.offcanvas-header .btn-close {
    background-color: #e7eff8;
    /* Light blue background */
    border-radius: 50%;
    /* Circular shape */
}

/* Toggle Button Base Style */
.navbar-toggler {
    border: none;
    background: transparent;
    /* Clear background */
    box-shadow: none;
    /* No shadow for a flat look */
}

/* Toggle Icon Style */
.navbar-toggler-icon {
    color: var(--mainMenuText-color);
    /* Modern shade of green */
    font-size: 1.5rem;
    /* Appropriate size for visibility */
}

/* Hover and Focus Styles */
.navbar-toggler:hover,
.navbar-toggler:focus {
    color: var(--mainMenuText-color);
    /* Darker shade of green on hover */
    background-color: rgba(76, 175, 80, 0.1);
    /* Soft green background on hover */
}

.custom-profile-dropdown {
    background-color: #ffffff !important;
    /* Example background color */
    color: #333 !important;
    /* Example text color */
    border-radius: 5px !important;
    /* Example border radius */
    padding: 10px;
    border-bottom: groove;
    /* Add other styling as needed */
}

.sidebar {
    position: fixed;
    z-index: 777;
    width: 100%;
}