/* SideBar.css */
:root {
    --primary-color: #1665D8;
    /* A strong shade of blue for primary actions */
    --hover-color: rgba(22, 101, 216, 0.2);
    /* Lighter blue for hover states */
    --icon-color: #6C757D;
    /* A neutral shade for icons */
    --active-icon-color: #ffffff;
    /* White for active icons for contrast */
    --background-color: #0A192F;
    /* A deep navy blue for the sidebar background */
    --text-color: #ffffff;
    /* White for text for readability */
    --submenu-color: #112240;
    /* A slightly lighter navy shade for submenu backgrounds */
    --submenu-text-color: #8892B0;
    /* A soft blue for submenu text */
    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* Maintain the modern font */
}

.drawer-content {
    background-color: var(--background-color);
    color: var(--text-color);
    overflow-x: hidden;
}

.MuiListItem-root {
    padding-left: 16px;
    padding-right: 16px;
    transition: background-color 0.3s;
}

.MuiListItemText-root {
    margin-left: -8px;
}

.MuiListItem-root:hover {
    background-color: var(--hover-color);
}

.active-menu-item {
    background-color: var(--primary-color);
    color: var(--active-icon-color);
}

.active-submenu-item {
    background-color: var(--submenu-color);
    color: var(--submenu-text-color);

    .MuiListItemIcon-root {
        color: var(--active-icon-color);
    }
}

.active-submenu-item,
.MuiListItem-root:hover {
    background-color: var(--primary-color);
    color: var(--active-icon-color);
}

.MuiListItemIcon-root,
.list-item-icon {
    color: var(--icon-color);
    min-width: 36px;
    transition: color 0.3s;
}

.active-submenu-item .MuiListItemIcon-root,
.MuiListItem-root:hover .MuiListItemIcon-root {
    color: var(--active-icon-color);
}

.MuiDrawer-paper {
    padding-top: 10px;
    background-color: var(--background-color);
}

::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-track {
    background: var(--background-color);
}

::-webkit-scrollbar-thumb {
    background: var(--primary-color);
}

::-webkit-scrollbar-thumb:hover {
    background: #145DA0;
}

.MuiTextField-root {
    margin: 1em;
    background: #ffffff;
    border-radius: 4px;
}

.NavLink {
    text-decoration: none;
    color: inherit;
    display: block;
}

.MuiAppBar-colorPrimary {
    background-color: #0A192F;
    color: var(--text-color);
}

.MuiToolbar-regular {
    padding-left: 16px;
    padding-right: 16px;
}

.submenu-item {
    background-color: var(--submenu-color);
}

.NavLink-submenu {
    text-decoration: none;
    color: inherit;
    display: block;
    background-color: var(--submenu-color);
}

.button-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
}