{
  "semi": true,
  "tabWidth": 2,
  "printWidth": 180,
  "singleQuote": false,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always",
  "endOfLine": "lf",
  "quoteProps": "as-needed",
  "jsxSingleQuote": false,
  "jsxBracketSameLine": false,
  "htmlWhitespaceSensitivity": "css",
  "embeddedLanguageFormatting": "auto",
  "useTabs": false,
  "insertPragma": false,
  "requirePragma": false,
  "proseWrap": "preserve",
  "overrides": [
    {
      "files": "*.{ts,tsx}",
      "options": {
        "parser": "typescript",
        "printWidth": 180
      }
    },
    {
      "files": "*.{css,scss,less}",
      "options": {
        "singleQuote": false,
        "printWidth": 120
      }
    },
    {
      "files": "*.{json,jsonc}",
      "options": {
        "tabWidth": 2,
        "printWidth": 80
      }
    },
    {
      "files": "*.md",
      "options": {
        "tabWidth": 2,
        "printWidth": 80,
        "proseWrap": "always"
      }
    }
  ]
}
