{
  "semi": true,
  "tabWidth": 2,
  "printWidth": 180,
  "singleQuote": false,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always",
  "endOfLine": "lf",
  "quoteProps": "as-needed",
  "jsxSingleQuote": false,
  "jsxBracketSameLine": false,
  "htmlWhitespaceSensitivity": "css",
  "embeddedLanguageFormatting": "auto",
  "overrides": [
    {
      "files": "*.{ts,tsx}",
      "options": {
        "parser": "typescript"
      }
    },
    {
      "files": "*.{css,scss}",
      "options": {
        "singleQuote": false
      }
    },
    {
      "files": "*.{json,md}",
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
