.text-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
}

.fixed-buttons-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #fff;
  /* Adjust the color to match your design */
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  /* Optional */
}