.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


/* App.css or your stylesheet name */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* Use viewport height to ensure minimum height */
}

main {
  flex: 1;
  padding-top: 72px;
  padding-bottom: 10px;
  /* This will allow the main content to expand */
}

.footer {
  width: 100%;
  /* Full width of the container */
  display: flex;
  justify-content: center;
  /* Center footer content horizontally */
  align-items: center;
  /* Center footer content vertically */
  text-align: center;
}

/* In your global.css or equivalent file */
.modal-header {
  background-color: #272727;
  /* Or any dark color you prefer */
  color: #fff;
  /* Adjust text color for visibility */
}

.custom-large-modal .modal-dialog {
  max-width: 90vw;
  width: auto;
}