.section-header {
  background-color: #212529;
  padding: 3px;
  border-radius: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 1.1rem;
  color: #fff;
}

.radio-group-label {
  display: block;
  /* or inline-block based on your preference */
  margin-right: 0.5rem;
  /* Adjust the right margin as needed */
  font-weight: bold;
  /* If you want the label to be bold */
}

.form-check-inline {
  margin-right: 1rem;
  /* Adjust the space between inline radio buttons */
}

/* If you are using a custom class for the radio group, add your styles here */
.custom-radio-group .form-check {
  margin-right: 1rem;
  /* Adjust the space between radio buttons */
}

.fixed-buttons-container {
  position: fixed;
  bottom: 0;
  left: 10px;
  width: 100%;
  background-color: white;
  padding: 5px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
  z-index: 777;
}
